
<div class="container-fluid">
  <nav>
    <div class="nav nav-tabs " id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Historical Data</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Alert Scheduling</button>
    </div>
  </nav>

  <div class="tab-content bg-light p-3 overflow-auto" id="nav-tabContent" style="max-height: 80vh;">

    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
      <strong><%=session[:option]['operation_sub_tag']%> Recent Exchange Rate Trend Chart</strong>
      <hr>

      <div data-controller="jpy-period-chart" data-jpy-period-chart-url-value="/exchange_rate/<%=session[:option]['operation_sub_tag']%>/update_jpy_chart">
        <strong>JPY</strong><p>Time Interval :  <span data-jpy-period-chart-target="periodInfo"></span></p>

        <div data-jpy-period-chart-target="chartContainer" style="height: 40vh;"></div>

        <a class="btn btn-primary" data-jpy-period-chart-target="updateBtn6m" data-action="click->jpy-period-chart#load6mChart">past six months</a>
        <a class="btn btn-primary", data-jpy-period-chart-target="updateBtn3m" data-action="click->jpy-period-chart#load3mChart">past three months</a>
        <a class="btn btn-primary" data-jpy-period-chart-target="updateBtn1w" data-action="click->jpy-period-chart#load1wChart">past one week</a>
      </div>

      <br>
      <hr>
      <div data-controller="usd-period-chart" data-usd-period-chart-url-value="/exchange_rate/<%=session[:option]['operation_sub_tag']%>/update_usd_chart">
        <strong>USD</strong><p>Time Interval :  <span data-usd-period-chart-target="periodInfo"></span></p>

        <div data-usd-period-chart-target="chartContainer" style="height: 40vh;"></div>

        <a class="btn btn-primary" data-usd-period-chart-target="updateBtn6m" data-action="click->usd-period-chart#load6mChart">past six months</a>
        <a class="btn btn-primary", data-usd-period-chart-target="updateBtn3m" data-action="click->usd-period-chart#load3mChart">past three months</a>
        <a class="btn btn-primary" data-usd-period-chart-target="updateBtn1w" data-action="click->usd-period-chart#load1wChart">past one week</a>
      </div>

    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div data-controller="schedule-overview" data-schedule-overview-query-url-value="/exchange_rate/<%=session[:option]['operation_sub_tag']%>/schedule_inquiry?user_id_hash=<%=session[:core]['user_id']%>">
        <div class="row" data-schedule-overview-target="results"></div>
      </div>
    </div>
    
  </div>
</div>