<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
    <a href= <%= root_path %> class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
    <div class="main_menu_icon_zone">
      <img src="<%= eucles_logo_path %>" width="50" height="50">
    </div>
    </a>
    <hr>
      <div class="d-flex gap-4">
        <a href="#" class="d-flex align-items-center  text-decoration-none">
            <img src="<%= user_avatar_path %>" alt="" width="34" height="34" class="rounded-circle me-2">
            <strong> <%= user_nickname %> </strong>
        </a>

        <div class="justify-content-end">
          <a href=<%= logout_path %> class="btn btn-success btn-sm align-items-center" data-turbo-method="delete">
            Sign out
          </a>
        </div>
      </div>
    <hr>

    <div class="sidebar">

        <div class="mb-1">
        <a href= <%= users_path %> class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
          <div>
            &emsp;<i class="fs-4 <%= users_icon_status %>"></i>&nbsp;Users
          </div>
          </div>
        </a>
        </div>

        <div class="accordion" id="sidebarAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                      <i class="fs-4 bi bi-credit-card-2-back"></i>&nbsp;FX rates
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#sidebarAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#" class="btn btn-item" >BOT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

