
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th scope="col">User name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">created at</th>
        <th scope="col">updated at</th>
        <th scope="col">operate</th>
      </tr>
    </thead>
    <tbody>
      
      <% show_users.each do |show_user| %>
        <tr class="bg-info">
          <th scope="row"><%= show_user.user_name %></th>
          <td><%= show_user.nickname %></td>
          <td><%= show_user.email %></td>
          <td><%= show_user.role %></td>
          <td><%= show_user.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %T %Z") %></td>
          <td><%= show_user.updated_at.in_time_zone("Taipei").strftime("%Y/%m/%d %T %Z") %></td>
          <td>
            <%= link_to "Edit", edit_user_path(show_user.id_hash), data: { turbo_method: :get }, class: "btn btn-primary" %>

            <%= link_to "Delete", user_path(show_user.id_hash), data: { turbo_method: :delete }, class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>