<!DOCTYPE html>
<html>
  <head>
    <title>EuclesBg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" as="style"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" as="style">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload","as": "style"%>
    <%= stylesheet_link_tag "sidebars", "data-turbo-track": "reload", "as": "style"%>
    <%= stylesheet_link_tag "tabs", "data-turbo-track": "reload", "as": "style"%>    
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application/layouts" %>
  </head>

  <body class="bg-info">
    <div class="container-fluid">

      <div class="row h-100">

        <div class="col-md-2 col-xs-1 bg-light">
          <div class="sticky-top">
          
          <%= render SidebarComponent.new(@current_user, session[:operation_main_tag], session[:operation_sub_tag]) %>

          </div>
        </div>

        <div class="col-md-10 col-xs-11 py-2">
          <div class="row">
            <div class="col-md-12 col-xs-12" style="height: 140px;">
              <%= render MessageComponent.new(session[:common_message]) %>
            </div>
            <div class="col-md-12 col-xs-12 py-2">
                <%= yield %>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
